@font-face {
	font-family: Roboto-Bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}

html,
body {
	height: 100%;
	margin: 0px;
	text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	-moz-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;
}

#sbu-image {
	position: fixed;
	height: 100vh;  /*Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	z-index: -1;
	background-image: url("../images/stonybrookuniversity.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(50%);
	background-position: center;
}

#grid-overlay {
	height: 100%; 
}

.avoid-wrap { 
	display:inline-block;
}
hr {
	width: 50%;
	height: 1px;
	}